<div class="content">
  <h2>Sign Up</h2>

  <% form_for @user, :url => account_path do |f| %>
    <p>
      <%= f.error_messages %>
    </p>
    <%= render :partial => "form", :object => f %>
    <p>
      <%= f.submit "Sign Up" %>
    </p>
  <% end %>
</div>